body {
    background-color: black;
    color: white;
}

.clock {
    font-size: 200pt;
    text-align: center;
}

@keyframes blink {
	0% {color: red;}
	75% {color: black;}
}

@-webkit-keyframes blink {
	0% {color: red;}
	75% {color: black;}
}

.clock.hurry {
    color: red;
    animation: blink 1s step-end infinite;
}

.controls {
    transition: opacity 200ms;
    background-color: #444;
    color: #ccc;
    opacity: 0.3;
}

.controls:hover {
    opacity: 1;
}

.controls button {
    background-color: black;
    border-radius: 20px;
    margin: 0 1em;
}

.controls input {
    background-color: black;
    margin: 0 0.5em;
    width: 4em;
    text-align: right;
}